/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* todo-code starts here */

body {
  margin: 16px 16px 0px 16px;
  background-color: white;
}

main {
  max-height: 100%;
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif; /* Google font */
  font-size: 1em;
  background-color: #e6f9ff;
  padding-bottom: 10px;
}

footer {
	background-color: #cccccc;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

h1 {
  color: #0099cc;
  font-family: 'Press Start 2P', sans-serif; /* Google font */
  text-align: center;
  background-color: none;
  font-size: 2em;
}

h2 {
  margin: 0px 0px 0px 0px;
  color: black;
  background-color: #0999ff;
  text-align: center;
  font-size: 1.5em;
  padding-top: 2px;
}

h3 {
  margin: 0px 0px 0px 0px;
  color: black;
  background-color: #0999ff;
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: center;
}

ul {
	text-align: left;
	list-style-type: none;
	font-size: 1em;
}

ul li:hover {
  background: lightgrey;
}

/* border-box = specifies the behaviour of the 'width' and 'height' properties
adds any border/padding inside the content box */
* , *::before, *::after {
  box-sizing: border-box; /* border-box is applied to all elements, before and after */
}

.flex-container {
  display: flex;
  flex-direction: row; /* defines in which direction the container wants to stack the flex items */
  justify-content: center; /* This defines the alignment along the main axis. */
}

.flex-container > div {
  background-color: white;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  max-width: 1200px;
}

.add-button {
  width: 100px;
  padding: 5px;
  background: #000999;
  color: white;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: 0.4s; /* time it takes for button to change from blue to green */
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: 0 4px #666;
}

.add-button:hover {
  background-color: #00e600;
  box-shadow: 0 4px rgba(0,0,0,0.24),10px 0 20px 0 rgba(0,0,0,0.19); /* adds shadow behind the Add-button */
}

.add-button:active { /* styling when user presses the add-button */
  background-color: #00e600;
  box-shadow: 0 4px #666;
  transform: translateY(4px); /* moves button 4 px in Y-axis */
}

.close {
  padding: 3px 3px 3px 3px; /* padding for the 'X' symbol */
}

.close:hover {
  background-color: #ff471a;
  color: white;
  cursor: pointer; /* shows the cursor as pointer */
}

#input-field {
	height: 45px;
	width: 100%;
	max-width: 400px;
	max-height: 400px;
}

#bear-img {
	width: 250px;
    height: auto;
	position: auto;
	cursor: pointer;
}

#bear-img:hover {
  background-color: #e6f9ff;
  padding: 10px;
  border-radius: 3px; 
}

#tips-div {
	text-align: left;
	color: #0999ff;
	display: none; /* tips-div is hidden, shows when users clicks the bear-image */
}

/* when screen width is 1400px or smaller, these settings will apply */
@media screen and (max-width: 1400px) {
  #bear-img {
	width: 200px;
    height: auto;
	position: auto;
  }
}

/* when screen width is 650px or smaller, these settings will apply */
@media screen and (max-width: 650px) {
  .flex-container {
  flex-direction: column;
  justify-content: center;
  }
  
  main {
	  height: 100%;
  }
  
  body {
  margin: 0px 0px 0px 0px;
  }
  
  .input-field {
	width: 100%;
  }
}

/* todo-code ends here */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

